# Python Strings
- In Python, strings are sequences of characters enclosed in either single quotes ('...') or double quotes ("..."). 
- They are used to represent text data.
- Strings are one of the most commonly used data types in any programming language.
-  They can be used to represent text, numbers, symbols, or any combination of characters.

  ##  Characterstics
-  Immutable: Once created, they cannot be changed.
-  Indexed: Each character in a string has a specific index, starting from 0.
-  Slicing: Subsets of strings can be obtained using slicing

###  For Example:

In [71]:
# Example of a string
str1 = "Hello, World!"  
str2 = 'Python Programming'

# Accessing individual characters using index
print(str1[0])  
print(str2[-1]) 

# Slicing a string
print(str1[0:5])

H
g
Hello

# Representation of strings

- In Python, strings can be represented using different types of quotation marks: single quotes ('...'), double quotes ("..."), or triple quotes ('''...''' or """...""").
- Below are the representations for the strings:

In [2]:
string1 = 'Hello world'       # Single-quoted string
string2 = "python is easy"     # Double-quoted string
string3 = """python is fun"""  # Triple-quoted string (also useful for multiline text)
string4 = 'this is a string'   # Another single-quoted string
string5 = "12345"              # Double-quoted string containing numeric characters

# Operations with Strings:

## - Concatenation: 
Joining strings with +.
## - Repetition: 
Repeating strings with *.

In [70]:
# Concatenation
str3 = str1 + " " + str2  

# Repetition
print(str1 * 2)

Hello, World!Hello, World!

## Concatenation Examples

In [6]:
result = string1 + string2 + string3 + string4 + string5
print(result)

Hello worldpython is easypython is funthis is a string12345

In [7]:
result = string1 + "," + string2 + "," + string3 + "," + string4 + "," + string5
print(result)

Hello world,python is easy,python is fun,this is a string,12345

In [9]:
# 1. Single-quoted strings with a comma for spacing
string1 = 'Hello'
string2 = 'World'
result = string1 + ', ' + string2
print(result) 

# 2. Double-quoted strings with space between them
string3 = "Python"
string4 = "is fun"
result = string3 + " " + string4
print(result) 

# 3. Concatenation of single and double-quoted strings
string5 = 'Learning'
string6 = "Python"
result = string5 + " " + string6
print(result) 

# 4. Triple-quoted and double-quoted strings
string7 = """Python"""
string8 = "Programming"
result = string7 + " " + string8
print(result) 

# 5. Concatenation with numbers (as strings)
string9 = '123'
string10 = '456'
result = string9 + ', ' + string10
print(result)

Hello, World
Python is fun
Learning Python
Python Programming
123, 456

 # Repetition Examples :

In [11]:
string6 = 'Hello world \n' 
string7 = "python is easy \n" 
string8 = """python is fun \n""" 
string9 = 'this is a string \n' 
string10 = "12345 \n"

result1 = string6*5
print(result1)

Hello world
Hello world
Hello world
Hello world
Hello world

In [12]:
# 1. Repetition of a single-quoted string
string1 = 'Hi'
result = string1 * 3
print(result)  

# 2. Repetition of a double-quoted string
string2 = "Python "
result = string2 * 2
print(result) 

# 3. Repetition of a single word using single and double quotes
string3 = 'Code'
result = string3 * 4
print(result) 

# 4. Repetition of a sentence with triple quotes
string4 = """Repeat """
result = string4 * 3
print(result)  

# 5. Repetition of numbers as strings
string5 = "123 "
result = string5 * 5
print(result)

HiHiHi
Python Python
CodeCodeCodeCode
Repeat Repeat Repeat
123 123 123 123 123

## Indexing 
- In Python, indexing allows you to access individual characters in a string based on their position. 
- Each character in a string has an index number:

- Positive Indexing: Starts from 0 for the first character.
- Negative Indexing: Starts from -1 for the last character, going backward.

In [13]:

string1 = "Python"

# Positive indexing
print(string1[0])
print(string1[2]) 

# Negative indexing
print(string1[-1])  
print(string1[-4])

P
t
n
t

In [18]:

my_string = ("Python programming is a highly valuable skill in today's tech-driven world. "
             "With its extensive libraries and frameworks, Python enables developers to build a variety of applications. "
             "From web development and data analysis to artificial intelligence and automation, Python's versatility is unmatched. "
             "Learning Python opens up numerous career opportunities and helps in tackling complex problems efficiently. "
             "The language's readable syntax and strong community support make it an ideal choice for both beginners and experts.")


print(my_string[21])
print(my_string[47])
print(my_string[105])
print(my_string[129])
print(my_string[201])
print(my_string[249])
print(my_string[311])
print(my_string[395])
print(my_string[409])
print(my_string[418])

n
a
n
n
a
t
f
e
e

# Slicing
- Slicing in Python allows you to extract a part of a string by specifying a start index, an end index, and an optional step.
-  Extracting a substring from a string

- substring = string[start:end:step]
  ### Examples:

In [21]:

my_string = "Python programming is fun and versatile."

# Slicing examples
print(my_string[0:6])   
print(my_string[7:18])  
print(my_string[19:])   
print(my_string[:6])    
print(my_string[::2])   
print(my_string[::-1])

Python
programming
is fun and versatile.
Python
Pto rgamn sfnadvraie
.elitasrev dna nuf si gnimmargorp nohtyP

In [23]:
text = "Hello, World!"
s = text[2:6] 
print(s)

llo,

In [24]:
text = "Hello, World!"
s = text[-6:-1]  
print(s)

World

In [25]:
text = "Hello, World!"
a = text[:6]  
print(a)

Hello,

In [26]:
text = "Hello, World!"
a = text[7:]  
print(a)

World!

# Python Formats 
- In Python, you can format strings using several methods to insert values into a string.

- Here are some common techniques:

# Old-Style Formatting (% Operator)
This method uses % to format strings.

In [69]:

name = "Nida"
age = 20
formatted_string = "My name is %s and I am %d years old." % (name, age)
print(formatted_string)  


temperature = 23.456
formatted_string = "The current temperature is %.2f degrees Celsius." % temperature
print(formatted_string)  


city = "New York"
population = 8419000
formatted_string = "%s has a population of %d." % (city, population)
print(formatted_string)

My name is Nida and I am 20 years old.
The current temperature is 23.46 degrees Celsius.
New York has a population of 8419000.

# Format method
Uses the format () with placeholders

In [31]:
name = "Nida"
age = 20
a = "Name: {}, Age: {}".format(name, age)
print(a)

Name: Nida, Age: 20

In [32]:
fruit = "apple"
price = 80
formatted_string="my name is {} and my price is {}.".format(fruit,price)
print(formatted_string)

my name is apple and my price is 80.

In [33]:
city = "Los Angeles"
temperature = 28.7
formatted_string = "The temperature in {} is {:.1f} degrees Celsius.".format(city, temperature)
print(formatted_string)

The temperature in Los Angeles is 28.7 degrees Celsius.

# String Interpolation using f-strings
f-strings allow you to insert variables, expressions, and even functions within the string by placing them inside curly braces {}.

In [35]:
fruit = "apple"
price = 80
formatted_string=f"the item is {fruit} and my price is {price}."
print(formatted_string)

the item is apple and my price is 80.

In [36]:

name = "Nida"
age = 20
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)  


width = 5
height = 10
area = f"The area of the rectangle is {width * height} square units."
print(area)  


def greet(name):
    return f"Hello, {name}!"

formatted_string = f"Greeting: {greet('Bob')}"
print(formatted_string)

My name is Nida and I am 20 years old.
The area of the rectangle is 50 square units.
Greeting: Hello, Bob!

# String methods
Python provides several built-in string methods that allow you to manipulate and process strings easily.

### string.upper():
Converts all characters in the string to uppercase.

In [37]:
text = "Hello, world!"
print(text.upper())

HELLO, WORLD!

### string.lower():
Converts all characters in the string to lowercase.

In [38]:
text = "Good, day!"
print(text.lower())

good, day!

### string.capitalize():
Converts the first character of the string to uppercase and the rest to lowercase.

In [39]:
text = "Python Programming!"
print(text.capitalize())

Python programming!

### len(string):
Returns the length of the string (number of characters).

In [40]:
text = "Data science is a multidisciplinary field that uses scientific methods, algorithms, and systems to extract knowledge from data."
print(len(text))

127

### string.swapcase():
Swaps the case of all characters in the string (uppercase becomes lowercase and vice versa).

In [43]:
text = "Python Programming iS fun!"
swapped_text = text.swapcase()
print(swapped_text)

pYTHON pROGRAMMING Is FUN!

### find(substring)

Returns the lowest index of the substring if found, or -1 if not found.

In [44]:
text = "hello world"
print(text.find("world"))

6

### join(iterable)
Joins the elements of an iterable (like a list) into a single string with a separator.

In [50]:
fruits = ['apple', 'banana', 'orange']
print(", ".join(fruits))

apple, banana, orange

### startswith(substring)
Returns True if the string starts with the specified substring.

In [51]:
text = "hello world"
print(text.startswith("hello"))

True

### endswith(substring)
Returns True if the string ends with the specified substring.

In [52]:
text = "hello world"
print(text.endswith("world"))

True

### split(separator)
Splits the string into a list of substrings based on the specified separator.

In [49]:
text = "apple,banana,orange"
print(text.split(","))

['apple', 'banana', 'orange']

### replace(old, new)
Replaces occurrences of a substring with a new string.

In [58]:
text = "hello world"
print(text.replace("world", "Python"))

hello Python

### strip()
Removes leading and trailing whitespace (or specified characters).

In [56]:
text = "Good Morning"
print(text.strip())

Good Morning

### isdigit()
Returns True if all characters in the string are digits, otherwise False.

In [57]:
text = "12345"
print(text.isdigit())

True

### isalpha()
Returns True if all characters in the string are alphabetic, otherwise False.

In [60]:
text = "Hello"
print(text.isalpha())

True

### rfind(substring)
Returns the highest index where the substring is found, or -1 if it's not found.

In [64]:
text = "Python programming is fun"
print(text.rfind("is"))

19


### title()
Converts the first character of each word to uppercase.

In [63]:
text = "python programming is fun"
print(text.title())

Python Programming Is Fun

### string.isspace(): 
Checks if all characters in the string are whitespace.

In [67]:
text = "   "  
print(text.isspace())

True

In [68]:
text = "  Hello  "
print(text.isspace())

False

### count(substring)
Counts the number of non-overlapping occurrences of a substring.

In [65]:
text = "banana"
print(text.count("a"))

3